<div class="container home">
  <div class="row d-flex home-details">
    <div class="col-4">
      <h2 class="text mt-5">
        <strong style="text-transform: none">
          Find Your Real Feelings With Cherish
        </strong>
      </h2>
      <p class="home-para">
        Our Members are looking for their very own love story and we do
        everything to help them achieve it .
      </p>
      <button class="btn btn-primary">Get Started</button>

      <div class="d-flex justify-content-between mt-5 icons">
        <button type="button" class="btn icon-btn text-dark">
          <i class="fab fa-facebook" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn icon-btn text-dark">
          <i class="fab fa-twitter"></i>
        </button>
        <button type="button" class="btn icon-btn text-dark">
          <i class="fab fa-instagram" aria-hidden="true"></i>
        </button>
        <button type="button" class="btn icon-btn text-dark">
          <i class="fab fa-tiktok" aria-hidden="true"></i>
        </button>
      </div>
    </div>

    <div class="col-8">
      <div class="text-center w-100">
        <img src="./assets/home-removebg-preview.png" />
      </div>
    </div>
  </div>

  <div class="about">
    <div class="row about-details">
      <div class="">
        <div
          class="heading d-flex justify-content-center align-item-center mt-5"
        >
          <h2 style="text-transform: none; font-weight: 900">
            New Added Profiles
          </h2>
        </div>
        <p
          class="about-para d-flex align-item-center justify-content-center mt-0"
        >
          You are few steps away from meeting your special someone.
        </p>
      </div>
      <div class="new-profiles col d-flex justify-content-center">
        <div class="profile-1">
          <img
            class="card-img-top userphoto"
            src="./assets/2.jpg"
            alt="Card image cap"
          />
          <div class="row p-3 card-about card">
            <div class="col-12 d-flex justify-content-between">
              <p class="p-0 m-0 d-inline">Alexander,32</p>
              <i class="fa fa-heart heart"></i>
            </div>
            <div class="col-12 mx-auto">
              <p class="fs-6">Lorem ipsum, dolor sit</p>
            </div>
          </div>
        </div>
        <div class="profile-2">
          <img
            class="card-img-top userphoto"
            src="./assets/3.jpg"
            alt="Card image cap"
          />
          <div class="row p-3 card-about card">
            <div class="col-12 d-flex justify-content-between">
              <p class="p-0 m-0 d-inline">Janine,23</p>
              <i class="fa fa-heart heart"></i>
            </div>
            <div class="col-12 mx-auto">
              <p class="fs-6">Lorem ipsum, dolor sit</p>
            </div>
          </div>
        </div>

        <div class="profile-3">
          <img
            class="card-img-top userphoto"
            src="./assets/6.jpg"
            alt="Card image cap"
          />
          <div class="row p-3 card-about card">
            <div class="col-12 d-flex justify-content-between">
              <p class="p-0 m-0 d-inline">Janine,23</p>
              <i class="fa fa-heart heart"></i>
            </div>
            <div class="col-12 mx-auto">
              <p class="fs-6">Lorem ipsum, dolor sit</p>
            </div>
          </div>
        </div>

        <div class="profile-5">
          <img class="card-img-top" src="./assets/4.jpg" alt="Card image cap" />
          <div class="row p-3 card-about card">
            <div class="col-12 d-flex justify-content-between">
              <p class="p-0 m-0 d-inline">Janine,23</p>
              <i class="fa fa-heart heart"></i>
            </div>
            <div class="col-12 mx-auto">
              <p class="fs-6">Lorem ipsum, dolor sit</p>
            </div>
          </div>
        </div>
        <div class="profile-4">
          <img class="card-img-top" src="./assets/8.jpg" alt="Card image cap" />
          <div class="row p-3 card-about card">
            <div class="col-12 d-flex justify-content-between">
              <p class="p-0 m-0 d-inline">Janine,23</p>
              <i class="fa fa-heart heart"></i>
            </div>
            <div class="col-12 mx-auto">
              <p class="fs-6">Lorem ipsum, dolor sit</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="services">
    <div class="row services-details">
      <div class="">
        <div
          class="heading d-flex justify-content-center align-item-center mt-3"
        >
          <h2 style="text-transform: none; font-weight: 900">Why Choose Us?</h2>
        </div>
        <p
          class="services-para d-flex align-item-center justify-content-center mt-0"
        >
          Let's find you life partner to enjoy life to be better and prosperous
          !
        </p>
      </div>
      <div class="new-services col d-flex justify-content-center">
        <div class="card" style="width: 18rem">
          <div class="card-body">
                
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
        <div class="card" style="width: 18rem">
          <div class="card-body">
          
            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
            <p class="card-text">
              Some quick example text to build on the card title and make up the
              bulk of the card's content.
            </p>
          </div>
        </div>
        <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
    </div>
    <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
</div>
      </div>
    </div>
  </div>
</div>
