/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: pangram;
  src: url(assets/fonts/Pangram-Regular.otf) format("opentype");
}

* {
  box-sizing: border-box;
  font-family: 'pangram', 'arial', sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #F4F2FD;
}

.btn {
  letter-spacing: 0.1ch;
  text-decoration: none;
  text-transform: none;
}

.btn-primary {
  background: linear-gradient(to right, #EB8840, #DA3148);
  color: white;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-primary.rounded {
  border-radius: 500px !important;
}

.btn-secondary {
  background: #da314846;
  color: #DA3148;
}

.btn-secondary.rounded {
  border-radius: 500px !important;
}