/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: pangram;
  src: url(assets/fonts/Pangram-Regular.otf) format("opentype");
}

:root {
  --primary-color: #DA3148;
  --on-primary-color: #f4f2fc;
  --secondary-color: #eb8840;
  --on-secondary-color: #282828;
  --gray-color: #dbdbdb;
  --white-color: #FFF;
}

* {
  box-sizing: border-box;
  font-family: 'pangram', 'arial', sans-serif;
}

body,
html {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background-color: #F4F2FD;
}

.btn {
  letter-spacing: 0.1ch;
  text-decoration: none;
  text-transform: none;
}

.btn-primary {
  background: linear-gradient(to right, var(--secondary-color), var(--primary-color));
  color: var(--on-primary-color);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn.rounded {
  border-radius: 500px !important;
}

.btn-secondary {
  background: #da314847;
  color: var(--primary-color);
}