<div class="container py-3 px-5">
  <div class="row">
    <div class="d-flex justify-content-between p-0 mb-3">
      <div class="input-group w-50">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <div class="ms-auto my-auto">
        <button class="btn btn-primary rounded" type="button"
          style="--bs-btn-padding-y: .25rem; --bs-btn-padding-x: 2rem; --bs-btn-font-size: .5rem; font-size: .75rem;">Upgrade
          Now</button>
      </div>
    </div>
    <!-- <div class="mt-3" *ngIf="userParams">
        <form #form="ngForm" (ngSubmit)="loadMembers()" class="d-flex mb-3" autocomplete="off">
          <div class="d-flex mx-2">
            <label class="col-form-label">Age from:</label>
            <input type="number" class="form-control ms-1" style="width: 70px;" name="minAge"
              [(ngModel)]="userParams.minAge">
          </div>
          <div class="d-flex mx-2">
            <label class="col-form-label">Age to:</label>
            <input type="number" class="form-control ms-1" style="width: 90px;" name="maxAge"
              [(ngModel)]="userParams.maxAge">
          </div>
          <div class="d-flex mx-2">
            <label class="col-form-label">Show:</label>
            <select type="number" class="form-select ms-1 pe-0" style="width: 150px;" name="gender"
              [(ngModel)]="userParams.gender">
              <option *ngFor="let gender of genderList" [value]="gender.value">{{gender.display}}</option>
            </select>
          </div>

          <button class="btn btn-primary ms-1" type="submit">Apply Filters</button>
          <button class="btn btn-info ms-1" type="button" (click)="resetFilters()">Reset Filters</button>
          <div class="btn-group" btnRadioGroup [(ngModel)]="userParams.orderBy" name="orderBy">
            <button type="button" class="btn btn-primary" btnRadio="created" tabindex="0" (click)="loadMembers()">Last
              Active</button>
            <button type="button" class="btn btn-primary" btnRadio="lastActive" tabindex="0"
              (click)="loadMembers()">Member since</button>
          </div>

        </form>

      </div> -->
    <app-member-carousal class="col-12 p-0 m-0">
      <!-- <div class="row" *ngIf="pagination">
          <div class="col-xs-12 col-12">
            <pagination [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.itemPerPage" [maxSize]="10"
              [(ngModel)]="pagination.currentPage" (pageChanged)="onPageChange($event)"></pagination>
          </div>
        </div> -->
    </app-member-carousal>


    <div class="mt-3 d-flex justify-content-between p-0 m-0 col-12  ">

      <div class="card col-4 p-3 m-0 mb-auto" *ngIf="mayLikeMembers.length">
        <div class="fs-5 fw-bold mt-2 mb-3 d-flex justify-content-between">
          You may like
          <a class="fs-6 fw-normal text-muted text-decoration-none" routerLink="/lists">see all</a>
        </div>
        <div *ngFor="let member of mayLikeMembers; index as i">
          <hr *ngIf="i!=0">
          <app-member-list-item [data]="member" [type]="memberListType.like"></app-member-list-item>
        </div>
      </div>

      <div class="card col-4 p-3 mb-auto" *ngIf="messageThreads.length">
        <div class="fs-5 fw-bold mt-2 mb-3 d-flex justify-content-between">
          <span>Recent Conversations</span>
          <a class="fs-6 fw-normal text-muted text-decoration-none"
            [routerLink]="'/messages/'+messageThreads[0].otherUserId">see all</a>
        </div>
        <div *ngFor="let thread of messageThreads; index as i">
          <hr *ngIf="i!=0">
          <app-member-list-item [data]="thread" [type]="memberListType.chatRequest"></app-member-list-item>
        </div>

      </div>

      <div class="card col-3 p-3 mb-auto" *ngIf="mayLikeMembers.length && messageThreads.length">
        <div class="card-body p-2 text-center">
          <div class="fs-3 fw-bold text-center lh-sm">Improve your matches</div>
          <div class="text-center my-4 fw-medium">
            if a man from the moon landed in your hometown. Would you do to entertain him?
          </div>
          <button type="button" class="btn btn-sm">No</button>
          <button type="button" class="btn btn-primary  rounded btn-sm"
            style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .75rem; --bs-btn-font-size: .75rem;">Yes</button>
          <div class="text-center">
            <button type="button" class="btn  btn-sm  text-muted">skip</button>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>