<div class="container" *ngIf="threads">
  <div class="row" style="height: 100%;">
    <div class="col-4 thread-container px-3 pt-4">
      <div class="text-center">
        <h2 class="m-0 p-0 fw-800">Conversation</h2>
        <span class="d-block text-muted text-truncate">{{threads.length}} Conversation detected</span>
      </div>
      <form class="mt-4 mb-3 mx-2">
        <input type="text" class="form-control" placeholder="Search">
      </form>
      <app-thread-item *ngFor="let thread of threads" [thread]="thread"
        [selected]="thread.otherUserId == selectedThreadUser?.id" (click)="selectThread(thread)"></app-thread-item>
    </div>
    <div class="col-8" *ngIf="selectedThreadUser">
      <app-message-list [recipientUser]="selectedThreadUser" [showNav]="true"></app-message-list>
    </div>
  </div>
</div>