* {
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: 100%;
}

.page-title-wrapper {
  text-align: center;
  margin-bottom: 36px;
  color: #545454;
}

.page-title {
  margin-bottom: 18px;
  font-size: 2.5rem;
  font-weight: 700;
}


.page-title-wrapper a {
  color: #0E70E7;
}


.card {
  position: relative;
  width: 400px;
  height: fit-content;
  margin: 0 auto;
  border-radius: 8px;
  background: #fff;
  box-shadow: 0px 0px 40px #0000001a;
  border: none;
}

.nav-card-tabs {
  width: 100%;
  height: 60px;
  border-radius: 8px 8px 0 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.nav-item {
  width: 50%;
  height: 100%;
  background-color: #EDEFF0;
  color: #545454;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.2rem;
}

.nav-item:nth-child(1) {
  border-radius: 8px 0 0 0;
}

.nav-item:nth-child(2) {
  border-radius: 0 8px 0 0;
}

.nav-item.active,
.nav-item.active:hover {
  background-color: #fff;
  color: #545455;
  font-weight: 600;
  cursor: default;

}

.nav-item:hover {
  background-color: #54545430;
  cursor: pointer;
}

.card-body {
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-direction: column;
  padding: 24px 36px 24px;
  width: 100%;
}

.form-control.ng-invalid.ng-touched.ng-dirty {
  border: none;
  outline: 1px solid red;
  box-shadow: 0 0 0px 5px #ff000015;
}

.btn {
  height: 50px;
  min-width: 50%;
  max-width: 75%;
  padding-left: 0;
  padding: 0 32px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: #0E70E7;
  border: none;
  border-radius: 50px;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.08ch;
  font-size: 1.2rem;
  margin-top: 38px;
  cursor: pointer;
}

.login-info {
  padding: 18px 0;
  text-align: center;
  color: #545454;
  font-size: 0.8rem;
  letter-spacing: 0.04ch;
}

.login-info .link {
  font-weight: 600;
  color: #545454;
}

.forgot-pass-btn {
  width: 400px;
  margin: 0 auto;
  margin-top: 24px;
}

.forgot-pass-btn a {
  color: #0E70E7;
}

.link {
  text-decoration: none;
}

.link:hover,
.link:focus {
  text-decoration: underline;
  cursor: pointer;
}